@import "reset.css";
body{
    background-color: #F3EEE9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 50px;
    padding-bottom: 50px 0px;
}

.canvas{
    width:700px;
    height:700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.controls {
    margin-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls__btns{
    margin-bottom: 30px;
}

.controls__btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(0,0,0,0.2);
    box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
    color: rgb(0,0,0,0.8);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;

}

.controls__btns button:active{
    transform: scale(0.98);
}

.controls .controls__colors{
    display: flex;

}

.controls__colors .controls__color{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    /*
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
             */
    margin: 3px;
    cursor: pointer;
}

.controls .controls__range {
    margin-bottom: 30px;
}
